footer{
    /* height: 140px;r */
    /* background-color: black; */
    margin-top: 100px;
}

.social-media{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: center;
}

.Instagram{
    margin-left: 10px;
}

.whatsApp{
    margin-left: 10px;
}

.footer-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.copyright{
    background-color: white;
    padding: 1px;
}

.copyright h5{
    font-size: 16px;
}