footer{
    /* height: 140px;r */
    /* background-color: black; */
    margin-top: 100px;
}

.footer-sosmed{
    margin-left: 38%;
}

.lokasi{
    text-align: center;
    /* color: black;
    background-color: aliceblue; */
    padding: 10px 0 10px 0;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    
}

.social-media li a{
    text-decoration: none;
    padding: 7px;
}

.social-media{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: center;
    margin: 10px;
}

.Instagram{
    margin-left: 10px;
}

.whatsApp{
    margin-left: 10px;
}

.footer-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.copyright{
    background-color: white;
    padding: 1px;
}

.copyright h5{
    font-size: 16px;
}